<div class="form-container">
    <div class="form-fields">
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="flex">
          <label for="title">Title:</label>
          <input id="title" formControlName="title" type="text" placeholder="Enter title">
        </div>
        <div class="flex">
          <label for="content">Content:</label>
          <textarea id="content" formControlName="content" placeholder="Enter content"></textarea>
        </div>
        <div class="button-group">
          <button type="submit">Create Post</button>
        </div>
      </form>
    </div>
  </div>