<app-navbar></app-navbar>

<div class="filter-container">
  <select [(ngModel)]="filterType">
    <option value="content">Content</option>
    <option value="author">Author</option>
    <option value="date">Date</option>
  </select>
  <input *ngIf="filterType !== 'date'" type="text" placeholder="Enter filter value" [(ngModel)]="filterValue">
  <input *ngIf="filterType === 'date'" type="date" placeholder="Enter filter value" [(ngModel)]="filterValue">
</div>

@if (this.editingPostId === null) {
<div class="posts-container">
    @for (post of filteredPosts(); track posts) {
    <div class="post-card">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <p><strong>Author:</strong> {{ post.author }}</p>
        <p><strong>Created:</strong> {{ post.created }}</p>
        <button class="btn-edit" (click)="startEditing(post)">Edit</button>
        <button class="btn-approve" (click)="approvePost(post.id)">Approve</button>
    </div>
    }
</div>
} 
@else {
    <div class="edit-form-container">
        <form [formGroup]="editForm" (ngSubmit)="saveEdit()">
            <div class="form-group">
              <label for="title">Title:</label>
              <input id="title" formControlName="title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="content">Content:</label>
              <textarea id="content" formControlName="content" class="form-control"></textarea>
            </div>
            <div class="button-group">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" (click)="cancelEdit()" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
}