<app-navbar></app-navbar>

<div class="filter-container">
  <select [(ngModel)]="filterType">
    <option value="content">Content</option>
    <option value="author">Author</option>
    <option value="date">Date</option>
  </select>
  <input *ngIf="filterType !== 'date'" type="text" placeholder="Enter filter value" [(ngModel)]="filterValue">
  <input *ngIf="filterType === 'date'" type="date" placeholder="Enter filter value" [(ngModel)]="filterValue">
</div>

<div class="posts-container">
  <div *ngFor="let post of filteredPosts()" class="post-card">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p><strong>Author:</strong> {{ post.author }}</p>
    <p><strong>Created:</strong> {{ post.created }}</p>
    <p><strong>Status:</strong> {{ post.status }}</p>

    <h3>Comments</h3>
    <div *ngFor="let comment of comments[post.id]">
      <p><strong>Author:</strong> {{ comment.commentAuthor }}</p>
      <p><strong>Message:</strong> {{ comment.commentMessage }}</p>
      <button *ngIf="comment.id !== undefined && comment.commentAuthor === this.authService.getCurrentUser().username" (click)="deleteComment(comment.id, post.id)" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700">Delete</button>
      <button *ngIf="comment.id !== undefined && comment.commentAuthor === this.authService.getCurrentUser().username" (click)="startEditingComment(comment)" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-700 ml-2">Edit</button>
    </div>

    <div *ngIf="editingCommentId !== null">
      <form [formGroup]="commentForm" (ngSubmit)="saveCommentEdit(post.id)">
        <div class="form-group">
          <label for="commentMessage">Edit Comment:</label>
          <textarea id="commentMessage" formControlName="commentMessage" class="form-control"></textarea>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" (click)="cancelCommentEdit()" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>

    <button [routerLink]="['/create-comment', post.id]" class="btn-comment">Comment</button>
  </div>
</div>